{% extends 'base/basic.html' %}

{% block title %}Wallets{% endblock %}

{% block css %}{% endblock %}

{% block content %}
    <h3>Wallets</h3>
    <div class="wallets border border-2 border-gray rounded">
        <div id="wallets_user_block" class="row row-cols-2">
        <!--Wallet User-->
        <!--End Wallet User-->
        </div>
    </div>


    <!-- Import Wallet Modal -->
              <div class="modal fade" id="watchTransactionsModal" tabindex="-1" aria-hidden="true">
                <div  class="modal-dialog modal-xl modal-dialog-centered1 modal-simple modal-add-new-cc">
                  <div class="modal-content p-3 p-md-5">
                    <div class="modal-body">
                      <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h5 id="table_header" class="card-header text-center">Transactions</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table table-bordered" style="text-overflow: ellipsis; table-layout: fixed; width: 100%;">
                    <thead id="transaction_head">
                      <tr>
                        <th>Hash</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Value</th>
                        <th>Age</th>
                        <th>Fee</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody id="transaction_body" class="table-border-bottom-0">
                      <!--Trasactions user-->
                      <!--/Trasactions user-->
                    </tbody>
                  </table>
                </div>
              </div>
              <!--/ Basic Bootstrap Table -->

                    </div>
                  </div>
                </div>

              <!--/ Import wallet modal -->
    <!--Send transaction-->
    <div class="modal fade" id="sendTransactionsModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered1 modal-simple modal-add-new-cc">
                  <div class="modal-content p-3 p-md-5">
                    <div class="modal-body">
                      <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h5 class="card-header text-center">Send transaction</h5>
                <div class="table-responsive text-nowrap">
                    <div class="col-12 fv-plugins-icon-container mt-2">
                          <label class="form-label w-100" for="modalAddCard">Send to</label>
                          <div class="input-group input-group-merge has-validation">
                            <input id="address_to_send" name="modalAddCard" class="form-control credit-card-mask" type="text" placeholder="Send to" aria-describedby="modalAddCard2">
                            <span class="input-group-text cursor-pointer p-1" id="modalAddCard2"><span class="card-type"></span></span>
                          </div><div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>
                    <div class="col-12 fv-plugins-icon-container mt-2">
                          <label class="form-label w-100" for="modalAddCard">Value</label>
                          <div class="input-group input-group-merge has-validation">
                            <input id="value_send" name="modalAddCard" class="form-control credit-card-mask" type="text" placeholder="Value" aria-describedby="modalAddCard2">
                            <span class="input-group-text cursor-pointer p-1" id="modalAddCard2"><span class="card-type"></span></span>
                          </div><div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>
                    <div class="col-12 text-center mt-2">
                          <button type="submit" id="submit_send_transaction" class="btn btn-success me-sm-3 me-1 waves-effect waves-light">Submit</button>
                        </div>
                </div>
              </div>
              <!--/ Basic Bootstrap Table -->
                  </div>
                </div>
    </div>

    <!--Send transaction-->
    <div class="modal fade" id="getTransactionsModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered1 modal-simple modal-add-new-cc">
                  <div class="modal-content p-3 p-md-5">
                    <div class="modal-body">
                      <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h5 class="card-header text-center">Transaction sending</h5>
                <div class="table-responsive text-nowrap text-center mt-3">
                    <h6>Посилання на транзакцію -> <a id="txn_url" href="">Відкрити посилання</a></h6>
                </div>
              </div>
              <!--/ Basic Bootstrap Table -->
                  </div>
                </div>
    </div>

{#     <button type="submit" onclick="" class="btn btn-primary me-sm-3 me-1">Submit</button>#}
{#                          <button#}
{#                            type="reset"#}
{#                            class="btn btn-label-secondary btn-reset"#}
{#                            data-bs-dismiss="modal"#}
{#                            aria-label="Close"#}
{##}
{#                          >#}
{#                            Cancel#}
{#                          </button>#}

{% endblock %}
{% block script %}
     <script src="{{ url_for('static', path='/crypto/js/wallet.js') }}"></script>
    <script>let ethereum_image  = `<img width="50px" height="120px;" class="ms-4" src="{{ url_for('static', path='/crypto/img/ethereum.png') }}" alt="">`</script>
{% endblock %}