{% extends 'base/basic.html' %}

{% block title %}Wallets{% endblock %}

{% block css %}{% endblock %}

{% block content %}
    <div class="wallets border border-2 border-gray rounded">
        <div id="wallets_user_block" class="row row-cols-2">
        <!--Wallet User-->
        <!--End Wallet User-->
        </div>
    </div>

{% endblock %}
{% block script %}
     <script src="{{ url_for('static', path='/crypto/js/wallet.js') }}"></script>
    <script>let ethereum_image  = `<img width="50px" height="120px;" class="ms-4" src="{{ url_for('static', path='/crypto/img/ethereum.png') }}" alt="">`</script>
{% endblock %}